* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 3% 15%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.container2 {
  display: flex;
  flex-wrap: wrap;
}

.tit {
  border: 1px solid gold;
  width: 500px;
  height: 200px;
  padding: 5px;
  background-color: blue;
}

.box {
  border: 1px solid gold;
  width: 200px;
  height: 200px;
  padding: 5px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
